{% if messages %}
  {% for message in messages %}
    {% if "open_modal" in message.tags%}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const modal = new bootstrap.Modal(document.getElementById("modal"));
        modal.show();
      });
    </script>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header mb-2">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form action="{% url "accounts:addaddress" %}" method="post">
          {% csrf_token %}
          <div class="row g-3 mx-auto" style="max-width: 600px; width: 100%;"> 

            {% if messages %}
              <div class="container mt-3">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  </div>
                  {% endfor %}
              </div>
            {% endif %}
            
            <div class="col-12">
              <label for="inputAddress" class="form-label">Salvar endereço como:</label>
              <input name="name_address" type="text" class="form-control" id="inputAddress" placeholder="Nome endereço..." required>
            </div>

            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Main St" required>
            </div>
            
            <div class="col-12">
              <label for="inputAddress2" class="form-label">complement</label>
              <input add type="text" class="form-control" id="inputAddress2" name="complement" placeholder="Apartment, studio, or floor">
            </div>
            
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Neighborhood</label>
              <input type="text" name="neighborhood" placeholder="Your neighborhood..." class="form-control" id="inputEmail4" required>
            </div>
            
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Number</label>
              <input type="text" name="number"  class="form-control" id="inputZip" required>
            </div>
            
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Tel</label>
              <input type="Number" name="tel" class="form-control" id="inputEmail4" required>
            </div>
            
            
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input name="city" type="text" placeholder="City..." class="form-control" id="inputCity" required>
            </div>
            
            <div class="col-md-6">
              <label for="inputCity" class="form-label">CEP</label>
              <input name="cep" placeholder="45344-000" type="text" class="form-control" id="inputCity" required>
            </div>
            
            <div class="col-md-6">
              <label for="inputState" class="form-label">State</label>
              <select name="state" id="inputState" class="form-select" required>
                <option value="" selected disable>Choose...</option>
                {% for state in states %}
                  <option value="{{ state }}">{{ state }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="col-12">
              <button type="submit" class="btn btn-success">Add Address</button>
              <button  type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>    
    </div>
  </div>
</div>

