{% extends "base.html" %}
    {% block content %}    
        <h3>{{ product.name }}</h3>
        <h3>{{ discount_price|default:product.apply_discount }}</h3>
        <p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px;">
        </p>
        <form action="{% url 'product:buynow' product.id %}" method="post">
            {% csrf_token %}
            <label for="discount">Desconto</label>
            <input name="discount" id="discount" type="text">
            <button type="submit">Aplicar</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <form action="{% url 'product:productbuynow'  %}" method="post">
            {% csrf_token %}
            <input name="id" type="hidden" value="{{ product.id }}">
            <label for="quantity">Quantidade</label>
            <input name="quantity" id="quantity" type="number" min="1" value="1" max="{{ stock.quantity }}">
            <button type="submit">Finalizar compra</button>
        </form>
    {% endblock content %}