{% extends "base.html" %}
    {% block content %}
        <div class="display-form-product">
            <h3>{{ product.name }}</h3>
                <div class="product">
                    <div>
                        {% include "carrousel.html" %}
                    </div>

                    <div>
                        <div class="product-right">
                            <label>{{ quantity }} disponíveis</label>
                            <p class="mb-0">
                                <s class="text-muted">{{ product.price }}</s>
                                <h3 class="ms-2 text-success fw-bold" >{{ product.apply_discount}}</h3>
                            </p>
                            <div class="mb-3">
                                <label for="exampleSelect" class="form-label">Change Option</label>
                                <select class="form-select" id="exampleSelect" aria-label="Selecione algo">
                                    <option selected>Select...</option>
                                    <option value="1">Action</option>
                                    <option value="2">Another action</option>
                                    <option value="3">Something else here</option>
                                </select>
                            </div>
                            <div class="mb-3 w-25">
                                <label for="quantity" class="form-label">Quantidade</label>
                                <input style="width: 6vh;" type="number" name="quantity" id="quantity" class="form-control text-center" min="1" value="1" max="{{ quantity }}">
                            </div>
                            <a class="btn btn-primary" href="{% url 'cart:addcart' product.id %}">add to cart</a>
                            <a class="btn btn-success" href="{% url 'product:buynow' product.id %}">buy now</a>
                        </div>
                    </div>

                </div>
            <h3>{{ product.description }}</h3>
        </div>

    {% endblock content %}
