{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <div class="box-layout">
        <form class="space-form-register" method="POST">
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="block_orientation">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if request.method == "POST" %}
                            {{ field.errors }}
                        {% endif %}    
                    </div>
                {% endfor %}
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Registrar</button>
                <a class="btn btn-primary" href="{% url "accounts:login" %}">Voltar</a>
            </div>
        </form>
    </div>
{% endblock content %}

