{% extends "base.html" %}
{% block content %}
<div class="box-layout">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="block_orientation">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if request.method == "POST" %}
                    {{ field.errors }}
                {% endif %}    
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Registrar</button>
        <a class="btn btn-primary" href="{% url "accounts:login" %}">Voltar</a>
    </form>
</div>
{% endblock content %}

