<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url "market:logout" %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <p>Bem vindo</p>
    <h2>{{ user.username }}</h2>
    {% if products %}
    {% for product in products %}
        <h3>{{ product.price }}</h3>
    {% endfor %}
    {% else %}
        <h3>Nenhum item</h3>
    {% endif %}
</body>
</html>