{% extends "base.html" %}
{% block content %}
    <div>
        <a href="{% url 'market:home' %}">Home</a>
        <h2>{{ user.username }}</h2>
        {% if items %}
        {% for item in items %}
            <div>
                <img src="{{ item.product.image.url }}" alt="" style="max-width: 200px;">
                <h3>{{ item.product.name }}</h3>
                <h3>{{ item.price }}</h3>
                <h4>{{ item.quantity}}</h4>
            </div>
        {% endfor %}
        {% else %}
            <h3>Nenhum item</h3>
        {% endif %}
    </div>
{% endblock content %}
