{% for category in categories %}
<div class="block-scroll">
    <div class="name-category">
        <h5>{{ category.category }}</h5>
    </div>
        <div class="scroll-row p-2">
            {% for product in category.products.all %}
                <div class="card" style="width: 13rem;">
                    <img src="{{ product.image.url }}" class="card-img-top product-img" alt="{{ product.name }}">
                    <div class="card-body d-flex flex-column">
                        <h6 style="font-size: 16px;" class="card-title">{{ product.name }}</h6>
                        <p style="font-size: 13px;" class="card-text">{{ product.description }}</p>
                        <s style="font-size: 14px;" class="text-muted">{% if product.discount %}R${{ product.price }}{% else %}&nbsp{% endif %}</s>
                        <div>
                            <h5 class="card-title">R$ {{ product.apply_discount }}</h5>
                            <p style="color: #198754;">{% if product.discount %} {{ product.discount.discount }}% OFF {% endif %}</p>
                        </div>
                        <a style="height: 4vh; width: 12vh;" href="{% url 'product:product' product.id %}" class="btn btn-success mt-auto">Buy Now</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>        
{% endfor %}
