.box-layout {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 45vh;
    height: 60vh;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.2);
}

.box-layout form {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}
