.box-layout {
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    width: 45vh;
    height: 60vh;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.2);
    padding: 25px;
}

.space-form-register {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.block_orientation {
    height: 11vh;
}


.message_error {
    font-size: 13px;
    margin-bottom: 0;
    padding: 3px;
    color: red;
}