.box-layout {
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    width: 45vh;
    height: 40vh;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.2);
    padding: 30px;
}

.space-form-register {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.block_orientation {
    height: 9vh;
}