.very-form {
    display: flex;
    flex-direction: column; 
    width: 220vh;
    padding: 4vh;
    margin-top: 5vh;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.margin-top {
    margin-top: 8.3vh;
}

.product-img {
    width: 220px;
    height: 200px;
    object-fit: cover; /* Bootstrap não tem isso */
    border-radius: .5rem; /* opcional */
}

.resume {
    height: 50vh;
}

.border {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.scroll-products {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: 40vh;
    padding: 1vh;
    box-sizing: border-box;
    overflow-x: auto;  
}

.scroll-row {
    display: flex;
    overflow-x: auto;         /* ativa o scroll horizontal */
    overflow-y: hidden;
    gap: 5px;
    width: 100%;
    background-color: white;
    padding: 1rem;
}

.product {
    white-space: nowrap;
    flex-wrap: nowrap; 
    transition: 0.2s ease;
    width: 48rem;
}

.product:hover {
    transform: scale(1.02);
}


.price {
    padding: 1vh;
    box-sizing: border-box;
}

.product-hover {
    transition: 0.2s ease;
}

.product-hover:hover {
    transform: scale(1.02);
}