.very-form {
    gap: 5vh;
    display: flex;
    height: 50vh;
    flex-direction: row; 
    width: 100%;
    background-color: white;
}
.margin-top {
    margin-top: 8.3vh;
}


/* todas as imagens com o mesmo tamanho */
.product-img {
    height: 100px;            /* define altura fixa */
    width: 100px;
    object-fit: fill;        /* mantém proporção e corta excesso */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.resume {
    height: 50vh;
}

.border {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.scroll-products {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: 40vh;
    padding: 1vh;
    box-sizing: border-box;
}

.product {
    height: 15vh;
    transition: 0.2s ease;
    width: 65vh;
}

.product:hover {
    transform: scale(1.02);
}

.product-2 {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.price {
    padding: 1vh;
    box-sizing: border-box;
}