.very-form {
    gap: 5vh;
    display: flex;
    min-height: 80vh;
    flex-direction: row; 
    width: 60%;
    padding: 3vh;
    margin-top: 5vh;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}


/* todas as imagens com o mesmo tamanho */
.product-img {
    height: 100px;            /* define altura fixa */
    width: 100px;
    object-fit: fill;        /* mantém proporção e corta excesso */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.product-right {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    width: 55vh;
    height: 70vh;
    border: 1px solid rgb(180, 180, 180);
    border-radius: var(--border-radius);
}

.scroll-products {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: 70vh;
    padding: 1vh;
    box-sizing: border-box;
}

.product {
    height: 15vh;
    transition: 0.2s ease;
}

.product:hover {
    transform: scale(1.02);
}

.product-2 {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.price {
    padding: 1vh;
    box-sizing: border-box;
}