.very-form {
    gap: 5vh;
    display: flex;
    height: 50vh;
    flex-direction: row; 
    width: 100%;
    background-color: white;
}
.margin-top {
    margin-top: 8.3vh;
}

.product-img {
    width: 220px;
    height: 200px;
    object-fit: cover; /* Bootstrap não tem isso */
    border-radius: .5rem; /* opcional */
}

.resume {
    height: 50vh;
}

.border {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.scroll-products {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: 40vh;
    padding: 1vh;
    box-sizing: border-box;
}

.product {
    transition: 0.2s ease;
    width: 48rem;
}

.product:hover {
    transform: scale(1.02);
}

.product-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30vh;

}


.price {
    padding: 1vh;
    box-sizing: border-box;
}

.product-hover {
    transition: 0.2s ease;
}

.product-hover:hover {
    transform: scale(1.02);
}