.display-form-products {
    display: flex;
    flex-direction: column;   /* mantém os cards em coluna dentro do bloco principal */
    overflow-x: hidden;       /* evita scroll duplo */
    margin-top: 10vh;
    height: 100%;
    width: 100%;
    align-items: center;
}

.display-form-products-all {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    padding-bottom: 8px;
    justify-content: start;
    gap: 8px;
}


.see-all {
    width: 60%;
    display: flex; 
    align-items: flex-start;
}

.name-category {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.very-form {
    display: flex;
    min-height: 90vh;
    flex-direction: column; 
    width: 70.5rem;
    padding: 3vh;
    margin-top: 5vh;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.scroll-row {
    display: flex;
    flex-wrap: nowrap;   
    flex-direction: row;     /* impede quebra de linha */
    overflow-x: auto;         /* ativa o scroll horizontal */
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
    gap: 5px;
    background-color: white;
}

.scroll-row::-webkit-scrollbar {
    height: 8px;
}

.scroll-row::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: var(--border-radius);
}

.scroll-row::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* impede o texto de estourar o card */
.card {
    flex: 0 0 auto;           /* impede o card de encolher no flex */
    white-space: normal;
    word-wrap: break-word;
    transition: 0.2s ease;
    height: 42vh;
    padding-bottom: 2vh;
}

.card:hover {
    transform: scale(1.02);
}

/* todas as imagens com o mesmo tamanho */
.product-img {
    height: 200px;            /* define altura fixa */
    width: 100%;
    object-fit: fill;        /* mantém proporção e corta excesso */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card-body {
    padding: 5px;
}
p {
    margin-bottom: 0;
}

.card-title {
    margin-bottom: 1px;
}

.block-scroll {
    margin-top: 1rem;
    background-color: white;
    width: 80rem;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: var(--shadow);
}