.display-form-products {
    display: flex;
    margin-top: 10vh;
    width: 124vh;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.row {
    margin-top: 5vh;
    gap: 6px;
    background-color: rgb(255, 255, 255);
    width: 113vh;
    margin-left: 5vh;
}

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}
