.display-form-products {
    background-color: rgb(255, 255, 255);
    padding: 6vh;
    display: flex;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.2);
    width: 100vh;
    height: 100vh;
}

.row {
    margin-left: 7vh;
    gap: 5px;
}

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}