
.navbar {
    height: 5vh;
}


.btn-outline-success {
    --bs-btn-color: #ffffff ;
    --bs-btn-border-color: #ffffff;
}

.bg-body-tertiary {
    background-color: var(--azul-claro) !important;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0, 0.2);
}



.nav-link {
    color: white;
    font-size: 14px;
}
.nav-item {
    color: white;
}
