.very-form {
    gap: 5vh;
    display: flex;
    min-height: 80vh;
    flex-direction: row; 
    width: 60%;
    padding: 3vh;
    margin-top: 5vh;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}



.product-right {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    width: 55vh;
    height: 70vh;
    border: 1px solid rgb(180, 180, 180);
    border-radius: var(--border-radius);
}





.price {
    padding: 1vh;
    box-sizing: border-box;
}