.display-form-product {
    background-color: rgb(255, 255, 255);
    padding: 6vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 110vh;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.2);
    border-radius: 10px;
    
}

.carousel-size {
    width: 60vh;
}

.image-class-product {
    width: 60vh;
    height: 60vh;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    min-height: 60vh;
}

.product {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

.product-right {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    width: 35vh;
    height: 60vh;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
}
