.display-form-product {
    background-color: rgb(255, 255, 255);
    padding: 6vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 110vh;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.2);
    
}

.image-class-product {
    max-width: 700px;
    border-radius: 10px;
}

.product {
    display: flex;
    flex-direction: row;
}