* {
    margin: 0;
    padding: 0;

}
body {
    background-color: rgb(240, 240, 240);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;

}



.button-hover:hover {
    color: black;
}


.block-orientation {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 5vh;
}