* {
    margin: 0;
    padding: 0;

}
body {
    background-color: rgb(240, 240, 240);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;

}

.nav-link {
    color: white;
}
.nav-item {
    color: white;
}


.bg-body-tertiary {
    background-color: rgb(0 102 203) !important;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0, 0.2);
}

.button-hover:hover {
    color: black;
}

.btn-outline-success {
    --bs-btn-color: #ffffff ;
    --bs-btn-border-color: #ffffff;
}